.contacts_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;

  h1 {
    margin: 20px 0 30px 0;
  }


  .contact_button_container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact_button {
      width: 100%;
      transition: .2s ease-out;
      background: transparent;

      &:hover {
        transform: scale(125%);
        cursor: pointer;
        z-index: 2;
      }

      .zigzag-timeline__item {
        position: relative;
        border: 1px solid #9ca3af;
        width: 100%;
        background-color: transparent;
      }

      .zigzag-timeline__milestone {
        position: absolute;
        top: 50%;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        background: #9ca3af;
      }

      .zigzag-timeline__item:nth-child(2n + 1) .zigzag-timeline__milestone {
        right: 0;
        transform: translate(50%, -50%);
      }
    }
  }
}