.authentification-container-dark {
  .nav-authentification {
    .active {
      color: #346881FF;
    }
  }

  .error_message {
    background-color: #B0413E;
    color: #F0F2F5;
  }

  .form_container {
    .input_container {
      .input_input {
        border: 2px black solid;
        background-color: #F0F2F5;
      }

      .input_input:focus {
        border-color: #346881FF;
      }

      .input_input:hover {
        border-color: #346881FF;
      }

      .input_label {
        color: black;
      }

      .input_input:focus + .input_label,
      .input_input:not(:placeholder-shown).input_input:not(:focus) + .input_label {
        border: 2px #346881FF solid;
        background-color: #346881FF;
      }
    }

    .buttonHover {
      background-color: #F0F2F5;
      color: black;
      box-shadow: 6px 6px 0 0 #346881FF;
    }

    .buttonHover:hover {
      background-color: #346881FF;
      box-shadow: -6px -6px 0 0 #F0F2F5;
    }
  }
}

