.nav-header {
  padding: 20px 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 0 0 #FFD400;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  h1 {
    color: #FFD400;
  }
}