.nav-header {
  height: 100px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8AB8D0;

  button {
    border: none;
    background: none;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a2a2a;

    &:hover {
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }

  a {
    color: #2a2a2a;;
  }
  h1 {
    color: #2a2a2a;
  }
}